@import "loaders.css/src/animations/ball-spin-fade-loader.scss";
@import "~react-table/react-table.css";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "@coreui/coreui/scss/coreui.scss";
@import "~react-redux-toastr/lib/css/react-redux-toastr.min.css";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

.loader-hidden {
  display: none;
}

.loader-active {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 100;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.7);

  > .loader-inner > div {
    background-color: rgba(0, 0, 0, 0.3);
  }
}
